@use '../globals' as g;

.section-wrapper {
	height: 100vh;
	// width: 100vw;
	overflow: hidden;
	@include g.flexbox(row, flex-start);
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	overflow-x: hidden;
}



.btn {
	outline: none;
	border: none;
}

.btn-cycle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0.5rem;
}

.main-secondary {
	margin: 0;
}

.section {
	width: 100vw;
	height: 100vh;
}
// section-one
.section-one {
	width: 100%;
	height: 100%;
	padding: 10rem;
	// background: brown;
	@include g.flexbox(row, space-around);
}

.section-one .main-left {
	width: 65%;
	height: 100%;
	@include g.flexbox(column, center);
}
.section-one .main-right {
	@include g.flexbox(column, flex-end);
	width: 35%;
	height: 100%;
    position: relative;
	// z-index: 1001;
}


.section-three {
    position: relative;
    overflow: hidden;
	@include g.flexbox(column, flex-start);
    padding: 3rem 1rem 1rem;
    // background: brown;
    // background-image: url('/assets/images/bg-5.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-four {
	@include g.flexbox(column, flex-start);
}

.section-three,
.section-four {
	width: 100%;
	height: 100%;
}
.section-three .main-left {
	@include g.flexbox(row, flex-start);
	width: 80%;
	height: 100%;
	border: 2px groove goldenrod;
}

// .section-four {
// 	height: unset !important;
// 	min-height: 100vh !important;
// }

.btn {
	&:hover {
		transform: scale(1.2);
	}

	&-func {
		border: none;
		outline: none;
		margin: 0.5rem;
		padding: 0.5rem;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0.075rem;
		background-color: goldenrod;
		color: #f9f9f9;
	}
}

.hide {
	display: none !important;
}
.show {
	display: flex !important;
}
