@use '../globals' as g;

header {
    background: brown;
    // position:fixed;
    position: fixed;
    top: 1rem;
    right: 1rem;
    // bottom: 1rem;
    // left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    z-index: 1001;

}
.menu-container{
    @include g.flexbox(row, flex-start);
    gap: 1rem;
    box-shadow: 2px 2px 4px #191919;
    width: max-content;
    padding: 1rem 2rem;
    background: #191919;
}
.menu-item {
    @include g.flexbox(row, flex-start);
    gap: 1rem;
    color: #fff;
    text-decoration: unset;
    padding: .5rem;
    border-radius: 5px;
    &:hover {
        background: goldenrod;
        
    }
    
    &:nth-child(7) {
        background: goldenrod;
        &:hover {
            background: #fff;
            color: goldenrod;
        }
    }
}
