.notes {
  //   overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &-list {
    // background: lightblue;
    // width: 400px;
    flex: 1;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    gap: 1rem;
    overflow-y: scroll;
    & h1 {
      margin: 1rem 0;
    }
    &::-webkit-scrollbar {
      background: #19191975;
      width: 5px;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #191919;
    }
  }

  & .btn-func {
    margin: 1rem 0;
  }
}

.note {
  background: rgba(245, 200, 86, 0.95);
  color: #191919bf;
  font-weight: 500;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
  height: min-content;
  &-bar {
    background: rgba(244, 94, 94, 0.864);
    height: 50px;

    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  & input {
    background: transparent;
    font-family: transparent;
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%;
    border: none;
    outline: none;
  }

  &-title {
    width: 60%;

    // background-color: brown;
  }
  &-text {
    font-family: transparent;
    background: transparent;
    min-height: max-content !important;

    resize: none;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    outline: none;
    overflow-y: scroll;
    white-space: pre-wrap;
    &:active,
    &:focus {
      border: none;
      outline: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.create-note {
  width: 400px;
  & .note-text {
    max-height: 300px !important;
  }
}
