header {
    width: 100%;
    // background: brown;
    // position:fixed;
    position: fixed;
    // top: 0;
    right: 0;
    bottom: 1rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.menu-container{
    @include flexbox(row, flex-start);
    gap: 1rem;
    box-shadow: 2px 2px 4px #191919;
    width: max-content;
    padding: 1rem 2rem;
    background: #191919;
}
.menu-item {
    @include flexbox(row, flex-start);
    gap: 1rem;
    color: #fff;
    text-decoration: unset;
    padding: 1rem;
    border-radius: 5px;
    &:hover {
        background: goldenrod;
        
    }
}

.menu-item + .menu-item {
    line-break: 1;
}