* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: scrollbox;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  // height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw !important;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  text-shadow: 2px 2px 5px #eda73d;
  color: #c59d5f;
  margin-bottom: 0.75rem;
  width: 100%;
  text-align: center;
}
