
// body {
//   background-image: url("assets/media/images/bg-3.jpg");
// }
.allmain {
  // width: 300vh;
  // width: max-content;
  // overflow-x: auto;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // flex-wrap: no-wrap;
}
.section {
  min-height: max-content !important;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  outline: none;
  border: none;
}

.btn-cycle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0.5rem;
}
