.allmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section {
  min-height: -webkit-max-content !important;
  min-height: -moz-max-content !important;
  min-height: max-content !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  outline: none;
  border: none;
}

.btn-cycle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: scrollbox;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw !important;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  text-shadow: 2px 2px 5px #eda73d;
  color: #c59d5f;
  margin-bottom: 0.75rem;
  width: 100%;
  text-align: center;
}

.main-secondary {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 5rem 10rem;
}

.section-bg {
  width: 90%;
  height: 90%;
  margin: 1rem 1rem;
  border: 4px solid transparent;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.section-one .main-left {
  width: 60%;
}

.section-one .main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.section-three .main-left {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 2px groove goldenrod;
}

.section-three .main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  padding: 1rem;
}

.btn:hover {
  transform: scale(1.2);
}
.btn-func {
  border: none;
  outline: none;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.075rem;
  background-color: goldenrod;
  color: #f9f9f9;
}

/* Style the tab buttons */
.tablink,
.tablink-2 {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover,
.tablink-2:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  height: 37vh;
}

.tabcontent-2 {
  height: 100vh;
}

.tabcontent,
.tabcontent-2 {
  color: white;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem !important;
}

/* Style each tab content individually */
#London {
  background-color: rgb(2, 45, 88);
}

#Paris {
  background-color: green;
}

#Tokyo {
  background-color: blue;
}

#Oslo {
  background-color: orange;
}

#Home {
  background-color: #022d58;
}

#News {
  background-color: green;
}

#Contact {
  background-color: blue;
}

#About {
  background-color: orange;
}

.app-musicPlayer {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.player {
  background-color: lightblue;
  width: 410px;
  height: 580px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  padding: 30px;
}

.player-bar {
  background: #191919;
  border-radius: 15px 0 0 15px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  position: relative;
  left: 40%;
  top: -180px;
  z-index: 1001;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons + .buttons {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.audio-controll-button {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  background: transparent;
}

.player .fa-pause {
  display: none;
}

#audioRange {
  -webkit-appearance: none; /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%; /* Full-width */
  height: 5px;
  background-color: lightblue;
  outline: none; /* Remove outline */
  opacity: 0.7;
  border-radius: 25px;
}

#randomTrack.active {
  color: #f9f9f9;
}

#repeatTrack.active {
  color: #f9f9f9;
}

#favTrack.active {
  color: brown;
}

.player__top {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 4;
}

.player-cover {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: -70px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.player-cover__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.player-cover__item:before {
  content: "";
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  /* box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5); */
  position: absolute;
  top: -20px;
  left: -20px;
  transform: scale(0.9);
  background: inherit;
  display: block;
  z-index: 1;
  opacity: 0.9;
  filter: blur(10px);
  border-radius: 50%;
}

.player-cover__item:after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  display: block;
  z-index: 2;
  position: relative;
  top: -27%;
  border-radius: 50%;
}

.cd-inner {
  position: relative;
  top: calc(50% - 40px) !important;
  left: calc(50% - 40px) !important;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  outline: none;
  border: 25px solid #191919;
  display: flex;
  background-color: lightblue;
  z-index: 101;
}

#audio {
  width: 100%;
}

.progress {
  width: 100%;
  margin-top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.progress__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.album-info {
  color: #71829e;
  flex: 1;
  padding-right: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0 2px #f9f9f9;
}

.album-info__name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1.3em;
}

.album-info__track {
  font-weight: 400;
  font-size: 2.5rem;
  opacity: 0.7;
  line-height: 1.3em;
  min-height: 52px;
}

.dashboard {
  position: relative;
  right: 120px;
  width: 350px;
  height: 480px;
  text-decoration: none;
  background: rgba(179, 142, 184, 0.797);
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  color: rgb(251, 226, 255);
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}
.dashboard::-webkit-scrollbar {
  background: rgba(25, 25, 25, 0.4588235294);
  width: 5px;
}
.dashboard::-webkit-scrollbar-thumb {
  background-color: #191919;
}

.playlist {
  margin: 3rem 0 3rem 0;
}

.track {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 0.1px solid lightgray;
}

.track:hover {
  background: rgba(206, 168, 211, 0.413);
}

.track.active {
  background: rgba(158, 114, 164, 0.547);
}

.track.active .track-item {
  -webkit-animation: playing 30s infinite;
          animation: playing 30s infinite;
}

@-webkit-keyframes playing {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes playing {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}
@media screen and (max-width: 768px) {
  .player {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .player-bar {
    width: 120px;
    top: -175px;
    padding: 0 3rem 0 1rem;
  }
  .buttons {
    width: 80%;
  }
  .player-cover {
    margin-left: 0;
  }
  .album-info {
    text-shadow: 0 2px #f9f9f9;
    width: 80%;
  }
  .dashboard {
    position: unset;
    right: 0;
    width: 100%;
  }
}
.clock {
  display: flex;
  flex-direction: row;
  font-size: 7rem;
  background-color: inherit;
  width: 280px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 4px solid transparent;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.date {
  font-size: 3rem;
}

.weather-info-top {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.weather-info-city {
  font-size: 3rem;
}
.weather-info-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather-info-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.weather-search-bar {
  outline: none;
  border: none;
  background: transparent;
  padding: 1rem 2rem;
  color: inherit;
  font-size: 2rem;
}

.clock-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#startPomodoro {
  background-color: yellow;
}

#startPomodoro {
  background-color: yellow;
}

#resetPomodoro {
  background-color: red;
}

.todoApp {
  background: rgba(245, 200, 86, 0.95);
  color: rgba(25, 25, 25, 0.7490196078);
  font-weight: 500;
  margin-top: 3rem;
  /* max-width: 400px; */
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
}

.todoApp h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.todoApp-tools {
  height: 50px;
}

.todoApp-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todoList {
  height: 400px;
  overflow-y: scroll;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.todoList::-webkit-scrollbar {
  display: none;
}

.todo {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(156, 218, 32);
  cursor: pointer;
  box-shadow: 2px 2px 1px #f9f9f9;
  padding: 0rem 1rem;
  margin: 0 1rem 0 1rem;
  border-radius: 15px;
}

.todo + .todo {
  margin-top: 0.5rem;
}

.todo:not(.completed) {
  order: 2;
  -webkit-animation: undone 0.5s;
          animation: undone 0.5s;
}

.todo.completed {
  order: 3;
  -webkit-animation: done 0.5s;
          animation: done 0.5s;
}

.todo-item {
  flex: 1;
  padding: 0.5rem 1rem;
}

.completed {
  text-decoration: line-through;
  opacity: 30%;
}

.todoApp form input {
  border: none;
  outline: none;
  background: rgba(213, 213, 219, 0.1);
  /* color: var(--clr-light); */
  padding: 1rem;
  border-top: 0.1px solid rgb(241, 213, 213);
  font-size: 16px;
  letter-spacing: 0.075rem;
  margin-top: 1rem;
}

.done {
  order: 3;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@-webkit-keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.notes-list {
  flex: 1;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: no-wrap;
  gap: 1rem;
  overflow-y: scroll;
}
.notes-list h1 {
  margin: 1rem 0;
}
.notes-list::-webkit-scrollbar {
  background: rgba(25, 25, 25, 0.4588235294);
  width: 5px;
  display: none;
}
.notes-list::-webkit-scrollbar-thumb {
  background-color: #191919;
}
.notes .btn-func {
  margin: 1rem 0;
}

.note {
  background: rgba(245, 200, 86, 0.95);
  color: rgba(25, 25, 25, 0.7490196078);
  font-weight: 500;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.note-bar {
  background: rgba(244, 94, 94, 0.864);
  height: 50px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.note-bar h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note input {
  background: transparent;
  font-family: transparent;
  padding: 0.5rem;
  font-size: 2rem;
  width: 100%;
  border: none;
  outline: none;
}
.note-title {
  width: 60%;
}
.note-text {
  font-family: transparent;
  background: transparent;
  min-height: -webkit-max-content !important;
  min-height: -moz-max-content !important;
  min-height: max-content !important;
  resize: none;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  overflow-y: scroll;
  white-space: pre-wrap;
}
.note-text:active, .note-text:focus {
  border: none;
  outline: none;
}
.note-text::-webkit-scrollbar {
  display: none;
}

.create-note {
  width: 400px;
}
.create-note .note-text {
  max-height: 300px !important;
}/*# sourceMappingURL=index.css.map */