* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: auto;
}

body {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  background-image: url("/assets/images/paper_fibers.png");
}

body::-webkit-scrollbar {
  display: none;
}

.section-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-width: 100vw !important;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  text-shadow: 2px 2px 5px #eda73d;
  color: #c59d5f;
  margin-bottom: 0.75rem;
  width: 100%;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
}

.btn {
  outline: none;
  border: none;
}

.btn-cycle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0.5rem;
}

.main-secondary {
  margin: 0;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.section-one {
  width: 100%;
  height: 100%;
  padding: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section-one .main-left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-one .main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  z-index: 1001;
}

.section-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-three {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-two,
.section-three,
.section-four {
  width: 100%;
  height: 100%;
}

.section-three .main-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  border: 2px groove goldenrod;
}

.btn:hover {
  transform: scale(1.2);
}
.btn-func {
  border: none;
  outline: none;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.075rem;
  background-color: goldenrod;
  color: #f9f9f9;
}

.hide {
  display: none !important;
}

.show {
  display: flex;
}

.app-musicPlayer {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player {
  background-color: lightblue;
  width: 410px !important;
  height: 580px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  padding: 5rem;
  position: relative;
}
.player:hover .dashboard {
  -webkit-animation: dashboard-hover 1s;
          animation: dashboard-hover 1s;
  z-index: 1;
}
.player p {
  transform: rotate(-90deg);
  position: absolute;
  right: -70px;
  top: calc(50% - 20px);
  font-size: 3rem;
  font-weight: 900;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  text-shadow: 2px 2px 5px #eda73d;
  color: #c59d5f;
}

.player:after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: -1;
  background-color: lightblue;
  width: 410px;
  height: 580px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.player-bar {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: none;
  background: #191919;
  border-radius: 15px 0 0 15px;
  width: 100px;
  height: 10px;
  border-top: 1px solid goldenrod;
  border-left: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.buttons + .buttons {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.audio-controll-button {
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 2.5rem;
  background: transparent;
}

.player .fa-pause {
  display: none;
}

#audioRange {
  -webkit-appearance: none; /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%; /* Full-width */
  height: 100%;
  background-color: transparent;
  outline: none; /* Remove outline */
  opacity: 0.7;
  border-radius: 25px;
}

#randomTrack.active {
  color: #f9f9f9;
}

#repeatTrack.active {
  color: #f9f9f9;
}

#favTrack.active {
  color: brown;
}

.player__top {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 4;
}

.player-cover {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: -70px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.player-cover__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.player-cover__item:before {
  content: "";
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  /* box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5); */
  position: absolute;
  top: -20px;
  left: -20px;
  transform: scale(0.9);
  background: inherit;
  display: block;
  z-index: 1;
  opacity: 0.9;
  filter: blur(10px);
  border-radius: 50%;
}

.player-cover__item:after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  display: block;
  z-index: 2;
  position: relative;
  top: -27%;
  border-radius: 50%;
}

.cd-inner {
  position: relative;
  top: calc(50% - 40px) !important;
  left: calc(50% - 40px) !important;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  outline: none;
  border: 25px solid #191919;
  display: flex;
  background-color: lightblue;
  z-index: 101;
}

#audio {
  width: 100%;
}

.progress {
  width: 100%;
  padding: 3rem 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.progress__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.album-info {
  flex: 1;
  text-shadow: 0 2px #f9f9f9;
}

.album-info__name {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3em;
  white-space: nowrap;
}

.album-info__track {
  font-weight: 400;
  font-size: 2rem;
  opacity: 0.7;
  line-height: 1.3em;
}

.dashboard {
  position: relative;
  right: 300px;
  width: 350px;
  height: 480px;
  text-decoration: none;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  color: goldenrod;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  z-index: -1;
  border: 3px groove goldenrod;
}
.dashboard::-webkit-scrollbar {
  background: rgba(25, 25, 25, 0.4588235294);
  width: 5px;
}
.dashboard::-webkit-scrollbar-thumb {
  background-color: #191919;
}

.btn-playlist {
  position: absolute;
  right: -40px;
  bottom: -220px;
  padding: 1rem;
}
.btn-playlist i {
  color: #191919;
}
.btn-playlist .fa-xmark {
  display: none;
}

.show-playlist {
  right: 120px;
  -webkit-animation: dashboard-show 1.5s;
          animation: dashboard-show 1.5s;
  z-index: 1;
}

.hide-playlist {
  right: 300px;
  -webkit-animation: dashboard-hide 1.5s;
          animation: dashboard-hide 1.5s;
  z-index: -1;
}

@-webkit-keyframes dashboard-show {
  0% {
    right: 300px;
    z-index: -1;
  }
  50% {
    right: 0;
    z-index: -1;
  }
  75% {
    right: -15px;
    z-index: -1;
  }
  100% {
    right: 120px;
    z-index: 1;
  }
}

@keyframes dashboard-show {
  0% {
    right: 300px;
    z-index: -1;
  }
  50% {
    right: 0;
    z-index: -1;
  }
  75% {
    right: -15px;
    z-index: -1;
  }
  100% {
    right: 120px;
    z-index: 1;
  }
}
@-webkit-keyframes dashboard-hide {
  0% {
    right: 120px;
    z-index: 1;
  }
  50% {
    right: -15px;
    z-index: -1;
  }
  75% {
    right: 0px;
    z-index: -1;
  }
  100% {
    right: 300px;
    z-index: -1;
  }
}
@keyframes dashboard-hide {
  0% {
    right: 120px;
    z-index: 1;
  }
  50% {
    right: -15px;
    z-index: -1;
  }
  75% {
    right: 0px;
    z-index: -1;
  }
  100% {
    right: 300px;
    z-index: -1;
  }
}
.dashboard::-webkit-scrollbar {
  display: none;
}

.playlist {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/bg-3.jpg");
}

.track {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 0.1px solid lightgray;
}

.track:hover {
  background: rgba(206, 168, 211, 0.413);
}

.track.active .track-item {
  -webkit-animation: playing 30s infinite;
          animation: playing 30s infinite;
}

@-webkit-keyframes playing {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes playing {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}
@media screen and (max-width: 768px) {
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
  }
  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .player-bar {
    width: 120px;
    top: -175px;
    padding: 0 3rem 0 1rem;
  }
  .buttons {
    width: 80%;
  }
  .player-cover {
    margin-left: 0;
  }
  .album-info {
    text-shadow: 0 2px #f9f9f9;
    width: 80%;
  }
  .dashboard {
    position: unset;
    right: 0;
    width: 100%;
  }
}
.clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  font-size: 7rem;
  background-color: inherit;
  width: 280px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 4px solid transparent;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.date {
  font-size: 3rem;
}

.weather-info-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  padding: 0.5rem 1rem;
}
.weather-info-city {
  font-size: 3rem;
}
.weather-info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.weather-info-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.weather-search-bar {
  outline: none;
  border: none;
  background: transparent;
  padding: 1rem 2rem;
  color: inherit;
  font-size: 2rem;
}

.clock-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#startPomodoro {
  background-color: yellow;
}

#startPomodoro {
  background-color: yellow;
}

#resetPomodoro {
  background-color: red;
}

.app-todo p span {
  font-style: italic;
  color: rgba(25, 25, 25, 0.5176470588);
}
.app-todo h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.app-todo h1 span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.app-todo .todoApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  background: rgba(244, 94, 94, 0.864);
  color: #191919;
  font-weight: 500;
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
}
.app-todo .todoApp .todoApp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  flex: 1;
}
.app-todo .todoApp .todoApp-container .todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
}
.app-todo .todoApp .todoApp-container .todoList::-webkit-scrollbar {
  display: none;
}

.todo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background: rgba(245, 200, 86, 0.95);
  cursor: pointer;
  box-shadow: 2px 2px 1px #f9f9f9;
  padding: 0rem 1rem;
  margin: 0 1rem 0 1rem;
}

.todo + .todo {
  margin-top: 0.5rem;
}

.todo:not(.completed) {
  order: 2;
  -webkit-animation: undone 0.5s;
          animation: undone 0.5s;
}

.todo.completed {
  order: 3;
  -webkit-animation: done 0.5s;
          animation: done 0.5s;
}

.todo-item {
  flex: 1;
  padding: 0.5rem 1rem;
}

.completed {
  text-decoration: line-through;
  opacity: 30%;
}

.todoApp form input {
  border: none;
  outline: none;
  background: rgba(213, 213, 219, 0.1);
  padding: 1rem;
  border-top: 0.1px solid rgb(241, 213, 213);
  font-size: 16px;
  letter-spacing: 0.075rem;
  margin-top: 1rem;
  width: 100%;
}

.done {
  order: 3;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@-webkit-keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.noteApp-container {
  width: 100%;
}

.notes {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.notes-list {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.notes-list h1 {
  margin: 1rem 0;
}
.notes-list::-webkit-scrollbar {
  background: rgba(25, 25, 25, 0.4588235294);
  width: 5px;
}
.notes-list::-webkit-scrollbar-thumb {
  background-color: #191919;
}
.notes .btn-func {
  margin: 1rem 0;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  background: rgba(245, 200, 86, 0.95);
  color: rgba(25, 25, 25, 0.7490196078);
  font-weight: 500;
  border-radius: 5px;
  max-width: 300px;
  min-width: 150px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.note-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: rgba(244, 94, 94, 0.864);
  padding: 1rem 1rem 1rem 0;
  width: 100%;
}
.note-bar h3 {
  flex: 1;
  margin: 0 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}
.note-bar i:first-of-type {
  font-size: 1.6rem;
}
.note-bar i + i {
  margin-left: 1rem;
}
.note input {
  width: 100%;
  background: transparent;
  font-family: transparent;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  outline: none;
}
.note-title {
  width: 60%;
}
.note-text {
  width: 100%;
  font-family: transparent;
  background: transparent;
  min-height: -webkit-max-content !important;
  min-height: -moz-max-content !important;
  min-height: max-content !important;
  resize: none;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  overflow-y: scroll;
  white-space: pre-wrap;
  text-align: left !important;
}
.note-text:active, .note-text:focus {
  border: none;
  outline: none;
}
.note-text::-webkit-scrollbar {
  display: none;
}

.create-note {
  width: 400px;
}
.create-note .note-text {
  max-height: 300px !important;
}

#note-pin {
  opacity: 50%;
}

.pinNote {
  position: fixed;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  right: 1rem;
  bottom: 1rem;
}
.pinNote #note-pin {
  transform: rotate(30deg);
  opacity: 100%;
}

.scrum-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 3rem 1rem 1rem;
  overflow: hidden;
}
.scrum-app p span {
  font-style: italic;
  color: rgba(25, 25, 25, 0.5176470588);
}

.scrum-header {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.scrum-taskbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.scrum-taskbar textarea {
  outline: none;
  resize: none;
  flex: 1;
  height: 50px;
  padding: 1rem 1rem;
  border: 1px groove goldenrod;
  font-family: transparent;
  background: transparent;
  font-size: 2rem;
  overflow-y: scroll;
  white-space: pre-wrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.scrum-taskbar textarea::-webkit-scrollbar {
  display: none;
}
.scrum-taskbar select {
  /* Reset Select */
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  /* Personalize */
  width: 100px !important;
  height: 50px !important;
  padding: 1rem 0.5rem;
  margin-left: 0.3rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #2c3e50;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.scrum-taskbar select option[value=higher] {
  background: red;
}
.scrum-taskbar select option[value=high] {
  background: yellow;
  color: #191919;
}
.scrum-taskbar select option[value=medium] {
  background: #191919;
}
.scrum-taskbar select option[value=low] {
  background: #1b6161;
}
.scrum-taskbar select option[value=lower] {
  background: #c3cce1;
}
.scrum-taskbar button {
  border: none;
  outline: none;
  width: 100px !important;
  height: 50px !important;
  padding: 1rem 0.5rem;
  margin-left: 0.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  background: #191919;
  color: #f9f9f9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.scrum-dashboard {
  flex: 0.6;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
.scrum-dashboard .scrum-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  overflow: hidden !important;
}
.scrum-dashboard .scrum-col h3 {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}
.scrum-dashboard .scrum-col .scrum-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50vh;
  margin-top: 1rem;
  background-color: rgba(44, 62, 80, 0.0823529412);
  overflow-y: scroll;
}
.scrum-dashboard .scrum-col .scrum-list::-webkit-scrollbar {
  width: 5px;
}
.scrum-dashboard .scrum-col .scrum-list::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  width: 5px;
}
.scrum-dashboard .scrum-col .scrum-list .task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px groove goldenrod;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-status {
  width: 10px;
  height: 30px;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-status.higher {
  background: red;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-status.high {
  background: yellow;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-status.medium {
  background: #191919;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-status.low {
  background: #1b6161;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-status.lower {
  background: #c3cce1;
}
.scrum-dashboard .scrum-col .scrum-list .task .task-content {
  flex: 1;
  padding: 1rem;
  white-space: pre-wrap;
}
.scrum-dashboard .scrum-col.odd h3 {
  border-bottom: 3px groove #191919;
}
.scrum-dashboard .scrum-col.even h3 {
  border-bottom: 3px groove #f9f9f9;
}
.scrum-dashboard .scrum-col .task.higher {
  order: 1 !important;
  -webkit-animation: fadeUp 0.5s;
          animation: fadeUp 0.5s;
}
.scrum-dashboard .scrum-col .task.high {
  order: 2 !important;
  -webkit-animation: fadeUp 0.5s;
          animation: fadeUp 0.5s;
}
.scrum-dashboard .scrum-col .task.medium {
  order: 3 !important;
}
.scrum-dashboard .scrum-col .task.low {
  order: 4 !important;
  -webkit-animation: fadeDown 0.5s;
          animation: fadeDown 0.5s;
}
.scrum-dashboard .scrum-col .task.lower {
  order: 5 !important;
  -webkit-animation: fadeDown 0.5s;
          animation: fadeDown 0.5s;
}
.scrum-dashboard #backlog .task {
  background: goldenrod;
  color: #191919;
}
.scrum-dashboard #inprogress .task {
  background: #1b6161;
  color: #f9f9f9;
}
.scrum-dashboard #emergency .task {
  background: #a22d22;
  color: #f9f9f9;
}
.scrum-dashboard #testing .task {
  background: #c3cce1;
  color: #191919;
}
.scrum-dashboard #done .task {
  background: #eae5e6;
  color: #191919;
  text-decoration: line-through;
  opacity: 75%;
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}/*# sourceMappingURL=index.css.map */